body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f9f9f9;
}
header {
    background: url('header-image.jpg') no-repeat center center/cover;
    height: 400px;
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
header h1 {
    font-size: 4rem;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    margin-bottom: 20px;
}
header button {
    padding: 15px 30px;
    font-size: 1rem;
    background-color: #03a39c;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

section {
    padding: 40px;
    text-align: center;
}
.subscribe {
    margin: 20px 0;
}
.subscribe h2 {
    font-size: 2rem;
    margin-bottom: 10px;
}
.subscribe p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}
.subscribe button {
    padding: 10px 20px;
    background-color: #03a39c;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.content {
    background-color: #f4f4f4;
    padding: 50px 20px;
}
.content h2 {
    margin-bottom: 30px;
    color: #222F99;
    font-size: 2rem;
}
.articles {
    max-width: 800px;
    margin: auto;
    line-height: 1.6;
    color: #333;
}

.about-us {
    padding: 60px 20px;
    text-align: center;
    background-color: #222F99;
    color: white;
}
.about-us h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}
.about-us p {
    font-size: 1.2rem;
}

footer {
    background-color: #673EE6;
    color: white;
    padding: 40px;
    text-align: center;
}
.footer-btn {
    background-color: #7949FF;
    padding: 15px 30px;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
